<!DOCTYPE html>
<html>
  <head>
    <title>TurismoiBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="px-24 my-4">
    <div class="grid xl:grid-cols-2 md:grid-cols-3 gap-4 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
