<!DOCTYPE html>
<html>
  <head>
    <title>TurismoiBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="md:container md:mx-auto px-24">
    <div class="grid grid-cols-2 gap-24 mt-8 mb-8">
      <%= yield %>
    </div>
  </body>
</html>
